input {
	width: 100%;
	margin: 8px 0;
	padding: 13px 20px;
	box-sizing: border-box;
	border: none;
	border-radius: 8px;
}

textarea {
	width: 100%;
	margin: 8px 0;
	padding: 13px 20px;
	box-sizing: border-box;
	border: none;
	border-radius: 8px;
}
